<!--<div class="">
  <nav>
    <command-bar [title]="title"></command-bar>
  </nav>
  <div class="container-main ms-fontColor-themePrimary">
    <router-outlet></router-outlet>
  </div>
  <footer class="ms-landing-page__footer  ms-bgColor-themePrimary">
    <div class="ms-landing-page__footer--left">
      <img src="/assets/logo-filled.png" />
      <h1 class="ms-font-xl ms-fontWeight-semilight ms-fontColor-white">My Add-in Name</h1>
    </div>
    <div class="ms-landing-page__footer--right">
      <i class="ms-Icon enlarge ms-Icon--gear ms-fontColor-white"></i>
    </div>
  </footer>
</div>-->
<router-outlet></router-outlet>