<h1 class="ms-fontSize-xxl">Welcome <br><span class="ms-fontSize-l">to the PDR Global Planning</span></h1>

<!--<img src="http://placehold.it/350x200">


<p class="ms-fontSize-m">This Addin performs the following steps:</p>

<div class="ms-Grid">
  <div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ">
      <ul>
        <li><span>1</span> Validates your GroupM CSI plan.</li>
        <li><span>2</span> Allows access to Plan Status information.</li>
        <li><span>3</span> Allows to access to other plan related features.</li>
      </ul>
    </div>
  </div>
</div>




<div class="ms-Grid">
  <div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ">
      <div class="ms-u-textAlignCenter">
        <button class="ms-Button ms-Button--primary">
          <span class="ms-Button-label">Start planning!</span> 
        </button>
      </div>
    </div>
  </div>
</div>

<div class="ms-Grid">
  <div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ">
      <div class="ms-u-textAlignCenter">
        <button class="ms-Button ms-Button--primary">
          <span class="ms-Button-label">Take a tour</span> 
        </button>
      </div>
    </div>
  </div>
</div>-->


