<main class="ms-firstrun-instructionstep ms-u-slideDownIn20">  

  <section class="ms-firstrun-instructionstep__header">
    <div class="ms-fontSize-xl ms-fontColor-themePrimary ">WELCOME</div>
    <div class="ms-font-m ms-fontColor-themePrimary">
      to the PDR Global Planning.
    </div>
    <div class="ms-firstrun-instructionstep__header--image"></div>
  </section>

  <div class="ms-firstrun-instructionstep__welcome-body">
    <p class="ms-font-s ms-fontColor-themePrimary ms-firstrun-instructionstep__welcome-intro">
      This add-in performs the following steps:
    </p>
    <ul class="ms-List ms-firstrun-instructionstep__list">
      <li class="ms-ListItem">
        <span class="ms-ListItem-primaryText">1</span>
        <span class="ms-ListItem-secondaryText">
          <span class="ms-fontColor-themePrimary ">
            <span class="ms-fontWeight-semibold ">
              Validates your GroupM CSI plan.
            </span>
            <span>Lorem ipsum dolor sit amet, consectetur elit, sed.</span>
          </span>
        </span>
        <div class="clearfix"></div>
      </li>
      <li class="ms-ListItem">
        <span class="ms-ListItem-primaryText">2</span>
        <span class="ms-ListItem-secondaryText">
          <span class="ms-fontColor-themePrimary ">
            <span class="ms-fontWeight-semibold">
              Allows to Plan Status information.
            </span>
            <span>Lorem ipsum dolor sit amet.</span>
          </span>
        </span>
        <div class="clearfix"></div>
      </li>
      <li class="ms-ListItem">
        <span class="ms-ListItem-primaryText">3</span>
        <span class="ms-ListItem-secondaryText">
          <span class="ms-fontColor-themePrimary ">
            <span class="ms-fontWeight-semibold">
              Allows access to other plan related features.
            </span>
          </span>
        </span>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>

  <div class="container">
    <p align="center">
      <a [routerLink]="['/home']" class="ms-Button ms-Button--primary ms-Button--large">
        <span class="ms-Button-label">Start Planning!</span>
      </a>
    </p>
    <div class="space-10"></div>
    <p align="center">
      <a [routerLink]="['/other']" class="ms-Button ms-Button--primary ms-Button--large">
        <span class="ms-Button-label">Take a tour</span>
      </a>
    </p>
  </div>
</main>